@model List<JensBankWebApp.Models.Customer>

@{
	ViewData["Title"] = "Customer Account List";
}
<h2>Customer Account List</h2>
<br />
<br />
<div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Customer Id</th>
				<th>Customer Name</th>
				<th>Customer Accounts</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var cust in Model)
			{
				<tr>
					<td>@cust.Id</td>
					<td>@cust.Name</td>
					<td>
						<table>

							@foreach (var account in cust.Accounts)
							{
								<tr>
									<td>@account.Id) @account.Amount kr</td>
								</tr>
							}
						</table>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>